<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    {{!<form action="" method="GET">
        <p>Введите имя пользователя: <input type="text" name="username"></p>
        <input type="submit" value="Отправить" />
    </form>}}
</body>
</html>